<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <title>Банковская система</title>
</head>
<body>
<header>
    <ul class="menu">
        <li class="aretinsky">
            <a>
                Ar<span class="e">e</span>tinsky
            </a>
        </li>
        <li class="menu_item"><a href="/bank" class="menu_item-a">Банк</a></li>
        <li class="menu_item"><a href="/ipoteka" class="menu_item-a">Ипотека</a></li>
        <li class="menu_item"><a href="/invest" class="menu_item-a">Инвестиции</a></li>
        <li class="menu_item"><a href="/insurance" class="menu_item-a">Страхование</a></li>
        <li class="menu_item"><a href="/junior" class="menu_item-a">Детская карта</a></li>
        <li class="menu_item"><a href="/debit-card" class="menu_item-a">Дебетовые карты</a></li>
        <li class="menu_item"><a href="/credit-card" class="menu_item-a">Кредитные карты</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="bank-card">
            <img src="/img/bank-card.jpg" alt="" width="40%" height="30%">
            <h3>Зарегестрируйте полностью анонимную и виртуальную карту Aretinsky</h3>
            <p>Маркетинговый тексттексттексттексттексттексттексттексттексттекст</p>
        </div>
        <div class="container mt-5">
            <form class="d-flex" method="post" action="/card/new">
                <input name="a_firstname" type="text" placeholder="Имя или псевдоним" required>
                <input name="a_email" type="email" placeholder="Email(необязательно)" required>
                <input name="a_password" type="text" placeholder="Пароль" required>
                <input type="submit">
            </form>
        </div>
    </div>
</main>
</body>
</html>